{% extends "base.html.twig" %}

{% block title %}Détail de l'utilisateur {{ user.firstname }} {{ user.lastname }} {% endblock %}



{% block body %}

    

    <h1>Détail de l'utilisateur {{ user.firstname }} {{ user.lastname }} </h1>

    {# TODO afficher les inforamtions des produis des users #}    
    
    <h2>Liste des produits</h2>
    
    <ul>
        {% for product in user.products %}
            <li>

               {{ product.name }}  
                
            </li>
        {% endfor %}
    </ul>
        
        
        
        
        
{% endblock %}
